@using TechRetail_B.Models
@using Newtonsoft.Json
@model TechRetail_B.Models.RestockViewModel
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form di Restock</title>
    <link rel="stylesheet" href="~/css/Restock/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <!-- Navbar -->
    <button class="toggleNavBtn" onclick="toggleNavbar()">
        <span id="navIcon">☰</span>
    </button>
    <div class="Navbar" id="Navbar">
        <div class="navButtons">
            <a href="~/Dashboard/IndexDashBoard/@Model.UtenteLoggato.Id">Dashboard</a>
            <a href="~/Filiali/Index/@Model.UtenteLoggato.Id">Negozi</a>
            <a href="~/Magazzino/Index/@Model.UtenteLoggato.Id">Magazzino</a>
            <a href="~/Comunicazioni/Index/@Model.UtenteLoggato.Id">Comunicazioni</a>
        </div>
        <a href="~/Login/Logout" class="logout"> Log Out</a>
    </div>

    <!-- Header -->
    <header class="Header">
        <div class="infoHeader">
            <img src="~/Immagini/logo.png" alt="Logo Tech Retail SpA" height="200px">
            <div class="Inventory">
                <h1 style="color: #eb921c;"></h1>
                <button class onclick="window.location.href='/Inventario/Inventario.html'">Vai all'Inventario</button>
            </div>
            <h1 class="utente" style="color: #eb921c; font-size: 25px;">@Model.UtenteLoggato.Nome @Model.UtenteLoggato.Cognome</h1>
        </div>
    </header>
    <div class="container">
        <div class="form-container">
            <h2>Form di Restock</h2>


        <form action="/Restock/Create" method="post">
            <div>
                <label>Nome Prodotto:</label>
                <input type="text" value="@Model.ProdottoSelezionato.Nome" readonly />
            </div>
            <div>
                <label>Descrizione:</label>
                <input type="text" value="@Model.ProdottoSelezionato.Descrizione" readonly />
            </div>
            <div>
                <label>Prezzo:</label>
                <input type="text" value="@Model.ProdottoSelezionato.Prezzo" readonly />
            </div>
                <div>
                    <label>Quantità:</label>
                    <input type="number" name="quantita" required />
                </div>
            <!-- Passa l'ID del prodotto e l'ID dell'admin -->
            <input type="hidden" name="idProdotto" value="@Model.ProdottoSelezionato.Id" />
            <input type="hidden" name="idUtente" value="@Model.UtenteLoggato.Id" />

            <button type="submit">Invia Restock</button>
        </form>

        </div>
    </div>
    <script src="~/js/Restock/Index.js"></script>
</body>
</html>
