@using TechRetail_B.Models
@model List<MSSTU.DB.Utility.Entity>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Prova</title>
</head>
<body>
    @foreach(var p in @Model)
    {
        var u = p as Utente;
        <p>@u.Nome</p>
        <p>@u.Cognome</p>
        <p>@u.Mail</p>
        <p>@u.Passw</p>
        <p>@u.Ruolo</p>
        <p>@u._Filiale.Id</p>

            
        <p> @(u._Filiale.Magazzino? "si" : "no") </p>
        <p>@u._Filiale.Indirizzo</p>
        <p>@u._Filiale.Email</p>
        <p>@u._Filiale.Telefono</p>
        <p> @(u._Filiale.DisponibileAlRitiro? "si" : "no") </p>



       @*  var f = p as Filiale;
        <p> @(f.Magazzino? "si" : "no") </p>
        <p>@f.Indirizzo</p>
        <p>@f.Email</p>
        <p>@f.Telefono</p>
        <p> @(f.DisponibileAlRitiro ? "si" : "no") </p> *@
    }
    @* {
        var prodotto = p as Prodotto;
        <p>@prodotto.Id</p>
        <p>@prodotto.Nome</p>
        <p>@prodotto.Descrizione</p>
        <img src="@prodotto.ImmagineURL"/>
    } *@
</body>
</html>