@using TechRetail_B.Models
@model TechRetail_B.Models.FilialiViewModel
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negozi</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="Stylesheet" href="~/css/Negozi/Negozi.css">
</head>
<body>
    <button class="toggleNavBtn" onclick="toggleNavbar()">
        <span id="navIcon">☰</span>
    </button>
    <div class="Navbar" id="Navbar">
        <div class="navButtons">
            <a href="~/Dashboard/IndexDashBoard/@Model.UtenteLoggato.Id">Dashboard</a>
            <a href="~/Filiali/Index/@Model.UtenteLoggato.Id">Negozi</a>
            <a href="~/Magazzino/Index/@Model.UtenteLoggato.Id">Magazzino</a>
            <a href="#">Comunicazioni</a>
        </div>
        <a href="~/Login/Logout"> Log Out</a>
    </div>

    <header class="Header">
        <div class="infoHeader">
            <img src="~/Immagini/logo.png" alt="Logo Tech Retail SpA" height="200px">
            <h1 class="utente" style="color: #eb921c; font-size: 50px;">Filiali </h1>
            <input type="text" id="searchInput" placeholder="Cerca filiale..." onkeyup="searchProducts()">
        </div>
    </header>

    <div class="schermataInventario">
        <div class="container table-container">
            <!-- Aggiungi la classe table-container -->
            <table id="inventoryTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Magazzino</th>
                        <th>Indirizzo</th>
                        <th>Indirizzo Mail</th>
                        <th>Telefono</th>
                        <th>Disponibile al Ritiro</th>
                        </a>
                    </tr>
                </thead>
                <tbody> <!--filiali (magazzino, indirizzo, email, telefono, disponibileAlRitiro)-->
                        @foreach (TechRetail_B.Models.Filiale f in Model.Filiali){
                    <tr>
                        <td><button class="linkTabella" onclick="window.location.href='/Dashboard/index.html'">@f.Id</button></td>
                            <td><button class="linkTabella" onclick="window.location.href='/Dashboard/index.html'">@((f.Magazzino) ? "Sì" : "No")</button></td>
                        <td><button class="linkTabella" onclick="window.location.href='/Dashboard/index.html'">@f.Indirizzo</button></td>
                        <td><button class="linkTabella" onclick="window.location.href='/Dashboard/index.html'">@f.Email</button></td>
                        <td><button class="linkTabella" onclick="window.location.href='/Dashboard/index.html'">@f.Telefono</button></td>
                            <td><button class="linkTabella" onclick="window.location.href='/Dashboard/index.html'">@((f.DisponibileAlRitiro) ? "Sì" : "No")</button></td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>


    <script src="~/js/Negozi/Negozi.js"></script>
</body>

